<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body class="dark-theme">
    <%- include("./partials/nav.ejs") %>

    <div class="container mx-auto py-8">
      <form id="editNoteForm" class="bg-gray-800 p-6 rounded shadow-md">
        <div class="mb-4">
          <label class="block text-sm font-bold mb-2" for="title">Title</label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="title"
            type="text"
            placeholder="Enter note title"
            required
            value="<%= data.title%>"
          />
        </div>
        <div class="mb-4">
          <label class="block text-sm font-bold mb-2" for="description"
            >Description</label
          >
          <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-100 leading-tight focus:outline-none focus:shadow-outline"
            id="description"
            rows="5"
            placeholder="Enter note description"
            required
          >
          <%= data.description %>
              </textarea
          >
        </div>
        <div class="mb-4">
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" id="completed" <%=
            data.completed?"checked":"" %> />

            <span class="ml-2">Completed</span>
          </label>
        </div>

        <div class="mb-4">
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" id="favorite" <%=
            data.favorite?"checked":"" %> />
            <span class="ml-2">Favorite</span>
          </label>
        </div>
        <div class="flex justify-between">
          <button
            type="submit"
            class="btn-purple text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
            Save Changes
          </button>
          <button
            type="button"
            class="text-red-500 font-bold py-2 px-4 rounded hover:underline"
            onclick="confirmDelete(' <%= data._id %>')"
          >
            Delete Note
          </button>
        </div>
      </form>
    </div>

    <script>
      document
        .getElementById("editNoteForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          let id = location.pathname.split("/").pop();
          const title = document.getElementById("title").value;
          const description = document.getElementById("description").value;
          const completed = document.getElementById("completed").checked;
          const favorite = document.getElementById("favorite").checked;

          const note = { title, description, completed, favorite };

          const response = await fetch(`/edit-note/${id}`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },

            body: JSON.stringify(note),
          });
          const result = await response.json();
          if (result.errors) {
            showToast(result.errors.message, 1000);
          } else {
            showToast("Your Note Edit Successfully!", 1000);
            setTimeout(() => {
              location.href = "/";
            }, 1000);
          }
        });

      async function confirmDelete(id) {
        const response = await fetch(`/delete-note/${id}`, {
          method: "DELETE",
        });
        const result = await response.json();
console.log(result);

        if (result.errors) {
          showToast(result.errors.message, 1000);
        } else {
          showToast("Your Note Delete Successfully!", 1000);
          setTimeout(() => {
            location.href = "/";
          }, 1000);
        }
      }
    </script>
  </body>
</html>
